//Используемые шрифты и их насыщенность
@mixin font_primary($weight) {
  font-family: $font-primary;
  font-weight: $weight;
}

@mixin burger_cross($height) {
  top: 0;
  left: 0;
  width: $height;
}

@mixin visually_hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin section_headings() {
  margin: 0;
  margin-bottom: 4px;
  font-weight: $font-bold;
  font-size: $heading-mobile;
  line-height: $heading-line-height-mobile;
  color: $base-primary;
  text-align: center;
}

@mixin section_intro($mg-bt:20px) {
  margin: 0;
  margin-bottom: $mg-bt;
  font-weight: $font-bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $min-tablet) {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 64px;
  }
}

//Для тестирования
@mixin outline_test($test-color: #a21c32) {
  outline: 2px solid $test-color;
  outline-offset: -2px;
}
