/* здесь используйте глобальные переменные */
$font-primary: "Montserrat", "Verdana", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;

//Размеры шрифтов
$font-size-mobile: 12px;
$line-height-mobile: 16px;
$font-size-tablet: 14px;
$line-height-tablet: 16px;
$font-size-desktop: 16px;
$line-height-desktop: 18px;
$title-mobile: 36px;
$title-line-height-mobile: 48px;
$title-tablet: 56px;
$title-line-height-tablet: 80px;
$title-desktop: 50px;
$title-line-height-desktop: 48px;
$heading-mobile: 12px;
$heading-line-height-mobile: 16px;

//Экраны / брэйкпоинты
$width-min: 320px;
$min-tablet: 768px;
$min-desktop: 4200px;
$max-mobile: (
  $min-tablet - 1
);
$max-tablet: (
  $min-desktop - 1
);

//горизонтальные отступы от краев экрана
$padding-mobile: 20px;
$padding-tablet: 20px;
$padding-desktop: 40px;

$text-primary: #333333;
$bg-primary: #ffffff;

//Цвета
$base-white: #ffffff;
$base-black: #333333;
$base-gray: #bdbdbd;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$alt-primary-darker: #593cac;
$alt-primary-lighter: #9070ec;
$alt-primary-opacity: rgba(120, 89, 207, 0.25);
$alt-light-grey: #e2e2e2;
$bg-flat-white: #f3ebe1;
$bg-flat-white: #f3ebe1;
$bg-lavender-latte: #eae6fc;
$bg-espresso: #e5e6e8;
$bg-lightest-grey: #f8f8f8;

//Меню хедер
$menu-paddings-mobile: 22px;
$menu-paddings-tablet: 32px 20px;

//настройка кнопок
$btn-border-thickness: 1px;
$btn-paddings-mobile: 8px 0;
$btn-paddings-tablet: 7px 0;
$btn-paddings-desktop: 7px 0;

//настройка бургера
$burger-width: 16px;
$burger-height: 16px;
$burger-thickness: 1.5px;
