.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__heading {
  @include section_headings();
}

.advantages__introduction {
  @include section_intro(36px);

  @media (min-width: $min-desktop) {
    margin-bottom: 80px;
  }
}

.advantages__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 30px;
    padding-left: 9px;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-flow: wrap;
    column-gap: initial;
    row-gap: initial;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 32px;
  }

  &::before {
    display: block;
    width: 52px;
    height: 56px;
    margin-bottom: 10px;
    background-color: $base-white;
    content: "";
  }

  &--speed::before {
    background-image: url("../../icons/icon-speed.svg");
  }

  &--convenience::before {
    background-image: url("../../icons/icon-convenience.svg");
  }

  &--energy::before {
    background-image: url("../../icons/icon-energy.svg");
  }

  &--ecological::before {
    background-image: url("../../icons/icon-ecological.svg");
  }

  @media (min-width: $min-tablet) {
    position: relative;
    align-items: flex-start;
    max-width: 339px;
    padding-left: 72px;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    &--ecological {
      max-width: 274px;
      align-items: initial;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media (min-width: $min-desktop) {
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 318px;
    padding-left: initial;
    padding-top: 77px;

    &:not(:last-of-type):not(.advantages__item--energy) {
      margin-right: 23px;
    }

    &--energy {
      margin-right: 34px;
    }

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }

    &--convenience,
    &--ecological {
      max-width: 317px;
    }

    &--ecological::before {
      transform: translate(-46%);
    }

    &--speed::before {
      transform: translate(-68%);
    }

    &--energy::before {
      transform: translate(-36%);
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $min-tablet) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $min-desktop) {
    text-align: center;
  }
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $min-tablet) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $min-desktop) {
    text-align: center;
  }
}
