.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
  background-color: $base-white;
  border: none;
  cursor: pointer;

  &--nojs {
    display: none;
  }

  @media (min-width: $min-tablet) {
    display: none;
  }

  &:active {
    background-color: $base-secondary;
  }
}

.burger__icon {
  position: relative;
  display: block;
  width: $burger-width;
  height: $burger-thickness;
  background-color: $base-black;

  transform: rotateZ(0);
  transition: 0.4s ease all;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    height: $burger-thickness;
    background-color: $base-black;
    content: "";
    transform: rotateZ(0);
    transition: 0.4s ease all;
    z-index: 3;
  }

  &::before {
    top: -7px;
  }

  &::after {
    bottom: -7px;
  }

  &--opened::before {
    @include burger_cross($burger-height);
    transform: rotateZ(405deg);
  }

  &--opened::after {
    @include burger_cross($burger-height);
    transform: rotateZ(315deg);
  }

  &--opened {
    background-color: transparent;
  }
}
