.button {
  width: fit-content;
  padding: 0;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: $base-white;
  background-color: $base-primary;
  border: 1px solid $base-primary;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &--small {
    font-size: 14px;
    line-height: 20px;
    background-color: $base-primary;
    border: 1px solid $base-primary;
  }

  &[type="reset"] {
    color: $base-primary;
    background-color: $base-white;
    border-color: $base-white;
  }

  &:hover:not(.burger) {
    background-color: $alt-primary-lighter;
  }

  &:active:not(.burger) {
    background-color: $alt-primary-darker;
    opacity: 0.5;
  }

  &:focus:not(:active):not(.burger) {
    background-color: $alt-primary-lighter;
  }
}

.button__text {
  display: block;
  margin: 0;
  padding: $btn-paddings-mobile;
  background-color: inherit;

  @media (min-width: $min-tablet) {
    padding: $btn-paddings-tablet;
  }

  @media (min-width: $min-desktop) {
    padding: $btn-paddings-desktop;
  }
}
