.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  padding: 40px 21px 20px;
  background-color: $base-white;

  @media (min-width: $min-tablet) {
    max-width: 349px;
    padding: 50px 30px 30px;
  }

  @media (min-width: $min-desktop) {
    max-width: 317px;
  }
}

.card__image-container {
  width: 130px;
  height: 188px;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $min-tablet) {
    margin-bottom: 30px;
  }
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $min-tablet) {
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $min-tablet) {
    margin-bottom: 10px;
  }
}

.card__description {
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $min-tablet) {
    margin-bottom: 18px;
  }

  @media (min-width: $min-desktop) {
    margin-bottom: 20px;
  }
}

.card__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.card__order {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 141px;
  min-height: 36px;
  border: 0 solid $base-primary;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;

  &::before {
    width: 20px;
    height: 16px;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../icons/btn-cart.svg");
    content: "";
  }
}

.card__valid-price {
  font-weight: $font-semi;
  font-size: 20px;
  line-height: 32px;
}
