.catalog {
  background-color: $bg-lightest-grey;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__heading {
  @include section_headings();
}

.catalog__introduction {
  @include section_intro();
}

.catalog__form {
  padding: 50px 0 0;
}

.catalog__sorting {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: $font-semi;
  font-size: 16px;
  line-height: 24px;

  span {
    margin-right: 8px;
  }

  @media (min-width: $min-tablet) {
    span {
      margin-right: 10px;
    }
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.catalog__item {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.catalog__pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
