.contacts {
  display: flex;
  flex-direction: column;
  width: $width-min;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $min-tablet) {
    width: $min-tablet;
  }

  @media (min-width: $min-desktop) {
    width: $min-desktop;
  }
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__map {
  width: 100%;
}
