.developers {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 206px;
  padding: 20px 0 30px 0;
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;
  color: $base-gray;

  @media (min-width: $min-desktop) {
    min-width: 155px;
    font-size: 18px;
  }
}

.developers__message {
  margin-right: 4px;
}

.developers__image {
  color: $base-gray;

  &:hover {
    color: $base-primary;
  }

  &:active {
    color: $alt-primary-darker;
  }
}
