.footer {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 30px;
  }

  @media (min-width: $min-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
  }
}

.footer__section {
  position: relative;
  padding-top: 17px;
  padding-bottom: 23px;

  &::before {
    position: absolute;
    width: 100vw;
    height: 1px;
    top: 0;
    left: calc(50% - 50vw);
    background-color: $base-secondary;
    content: "";
  }

  &--contacts {
    padding-bottom: 12px;
    padding-top: 14px;
  }

  &:last-of-type::after {
    position: absolute;
    width: 100vw;
    height: 1px;
    bottom: 0;
    left: calc(50% - 50vw);
    background-color: $base-secondary;
    content: "";
  }

  @media (min-width: $min-tablet) {
    padding-bottom: 18px;

    &:last-of-type::after {
      content: none;
    }

    &::before {
      content: none;
    }

    &--contacts {
      padding-bottom: 1px;
    }
  }

  @media (min-width: $min-desktop) {
    padding-top: 31px;
  }
}

.footer__wrapper {
  display: flex;
  padding: 18px 0;

  @media (min-width: $min-tablet) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 22px 0 0;
  }

  @media (min-width: $min-desktop) {
    grid-column: 1 / 2;
    flex-direction: column;
  }
}

.footer__logo {
  @media (min-width: $min-tablet) {
    margin-right: auto;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.footer__heading {
  margin: 3px 0 12px;
  font-weight: $font-bold;
  font-size: 14px;
  line-height: 20px;
  color: $base-primary;

  @media (min-width: $min-tablet) {
    margin: 0 0 12px;
  }
}

.footer__menu {
  margin: 0;
  padding: 0;
}

.footer-menu__link {
  font-weight: $font-medium;
  font-size: 12px;
  line-height: 16px;
}

.footer__developers {
  margin-top: 18px;

  @media (min-width: $min-tablet) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-top: 0;
  }
}
