.footer {
  display: flex;
  flex-direction: column;
}

.footer__section {
  position: relative;
  padding: 20px 0;

  &::before {
    position: absolute;
    width: 100vw;
    height: 1px;
    top: 0;
    left: calc(50% - 50vw);
    background-color: $base-secondary;
    content: "";
  }

  &:last-of-type:after {
    position: absolute;
    width: 100vw;
    height: 1px;
    bottom: 0;
    left: calc(50% - 50vw);
    background-color: $base-secondary;
    content: "";
  }
}

.footer__wrapper {
  display: flex;
  padding: 22px 0;
}

.footer__menu {
  margin: 0;
  padding: 0;
}
