.footer-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer-menu__link {
  display: block;
  padding: 8px 8px 11px 0;

  &:hover {
    color: $alt-primary-lighter;
  }

  &:active:not(.menu__link--current) {
    color: $alt-primary-darker;
  }

  &:focus:not(:active) {
    border: none;
    color: $alt-primary-lighter;
  }

  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 13px;
    height: 16px;
    content: "";
  }

  &--location,
  &--phone {
    position: relative;
    display: flex;
    padding-left: 19px;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
  }

  &--phone {
    padding-top: 3px;
  }

  &--location::before {
    background-image: url("../../icons/icon-location.svg");
  }

  &--phone::before {
    background-image: url("../../icons/icon-phone.svg");
  }

  @media (min-width: $min-tablet) {
    &--phone {
      padding-top: 6px;
    }
  }
}
