.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-tablet) {
    flex-flow: wrap;
    align-items: flex-start;
  }

  @media (min-width: $min-desktop) {
    flex-direction: column;
    align-items: stretch;
  }
}

.form__fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  border: none;

  @media (min-width: $min-tablet) {
    width: auto;

    &:not(:nth-of-type(3)):not(.form__fields--buttons) {
      margin-right: 30px;
      margin-bottom: 0;
    }

    &--buttons {
      width: 100%;
      max-width: 277px;
      flex-flow: nowrap;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 44px;
    }
  }

  @media (min-width: $min-desktop) {
    &:not(:nth-of-type(3)):not(.form__fields--buttons) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &--buttons {
      width: 100%;
      max-width: initial;
      flex-flow: nowrap;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }
  }
}

.form__legends {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: $font-semi;
  font-size: 16px;
  line-height: 24px;
}

.form__labels {
  font-size: 16px;
  line-height: 24px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.form__submit {
  width: 100%;
  border-radius: 4px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  @media (min-width: $min-tablet) {
    max-width: 277px;

    &:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}
