.index__section {
  padding: 46px 0 60px;

  &.catalog {
    padding: 51px 0 47px;
  }

  @media (min-width: $min-tablet) {
    padding: 60px 0 100px;

    &.advantages {
      padding-bottom: 91px;
    }

    &.catalog {
      padding-top: 79px;
    }

  }

  @media (min-width: $min-desktop) {
    padding: 100px 0 120px;
  }
}
