.index__section {
  padding: 49px 0 60px;

  &.catalog {
    padding: 51px 0 47px;
  }

  @media (min-width: $min-tablet) {
    padding: 60px 0 100px;

    &.advantages {
      padding-bottom: 92px;
    }

    &.catalog {
      padding-top: 79px;
      padding-bottom: 37px;
    }
  }

  @media (min-width: $min-desktop) {
    padding: 100px 0 120px;

    &.advantages {
      padding-bottom: 109px;
    }

    &.catalog {
      padding-top: 100px;
      padding-bottom: 37px;
    }
  }
}
