.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo__image {
  width: 32px;
  height: 36px;
  object-fit: cover;

  @media (min-width: $min-tablet) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $min-desktop) {
    width: 170px;
    height: 36px;
    margin-right: 20px;
  }
}

.logo__text {
  display: none;

  @media (min-width: $min-desktop) {
    display: block;
  }
}
