.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}

.logo__image {
  width: 32px;
  height: 36px;
  object-fit: cover;

  &--footer {
    width: 82px;
    height: 36px;
    margin-right: 38px;
  }

  @media (min-width: $min-tablet) {
    width: 82px;
    height: 36px;

    &--footer {
      width: 170px;
      height: 36px;
      margin-right: 0;
    }
  }

  @media (min-width: $min-desktop) {
    width: 170px;
    height: 36px;
    margin-right: 20px;

    &--footer {
      margin-right: 115px;
      margin-bottom: 10px;
    }
  }
}

.logo__text {
  display: none;

  @media (min-width: $min-desktop) {
    display: block;
  }

  @media (min-width: $min-desktop) {
    &--footer {
      max-width: 286px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
