.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  text-decoration: none;
}

.logo__image {
  width: 32px;
  height: 36px;
  object-fit: cover;

  &--footer {
    width: 82px;
    height: 36px;
    margin-right: 38px;
  }

  @media (min-width: $min-tablet) {
    width: 82px;
    height: 36px;

    &--footer {
      width: 170px;
      height: 36px;
      margin-right: 0;
    }
  }

  @media (min-width: $min-desktop) {
    width: 170px;
    height: 36px;
    margin-right: 20px;

    &--footer {
      margin-right: 76px;
    }
  }
}

.logo__text {
  display: none;
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;

  @media (min-width: $min-desktop) {
    display: block;
  }
}
