.map {
  position: relative;
  height: 420px;

  @media (min-width: $min-tablet) {
    height: 480px;
  }

  @media (min-width: $min-desktop) {
    height: 540px;
  }
}

.map__images {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $base-primary;

  &--nojs {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

.map__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38px;
  height: 50px;
  background-image: url("../../icons/map-pin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translate(-50%, -50%);

  @media (min-width: $min-tablet) {
    display: none;
  }
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  object-fit: cover;

  @media (min-width: $min-tablet) {
    height: 480px;
  }

  @media (min-width: $min-desktop) {
    height: 540px;
  }
}

.map__leaflet {
  width: 100vw !important;    // переопределение инлайновых стилей карты
                              // для адаптации размера карты под ширину контейнера
  &--nojs {
    display: none;
  }

  @media (min-width: $min-tablet) {
    height: 480px !important;   // переопределение инлайновых стилей карты
  }

  @media (min-width: $min-desktop) {
    height: 540px !important;   // для адаптации размера карты под ширину контейнера
  }
}

.leaflet-bottom.leaflet-right {
  opacity: 0;
}
