.map {
  position: relative;
  height: 420px;

  @media (min-width: $min-tablet) {
    height: 480px;
  }

  @media (min-width: $min-desktop) {
    height: 540px;
  }
}

.map__images {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  background-color: $base-primary;

  &--nojs {
    position: relative;
    display: flex;
    justify-content: center;
  }

}

.map__marker {
  @include visually-hidden();
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  object-fit: cover;

  @media (min-width: $min-tablet) {
    height: 480px;
  }

  @media (min-width: $min-desktop) {
    height: 540px;
  }
}

.map__leaflet {

  &--nojs {
    display: none;
  }

  @media (min-width: $min-tablet) {
    width: 768px !important;
    height: 480px !important;
  }

  @media (min-width: $min-desktop) {
    width: 1440px !important;
    height: 540px !important;
  }
}

.leaflet-bottom.leaflet-right {
  opacity: 0;
}
