.navigation {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  width: 100%;

  @media (min-width: $min-tablet) {
    grid-template-columns: 152px 460px 1fr;
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: 518px 621px 1fr;
  }
}

.navigation__logo {
  margin: 0;
}

.navigation__button {
  grid-column: 3 / 4;
  grid-row: 1 / 1;

  @media (min-width: $min-tablet) {
    grid-column: initial;
    grid-row: initial;
  }
}

.navigation__menu {
  width: 100%;
  margin: 0;
  padding: 0;

  &--user {
    grid-column: 2 / 3;
    grid-row: 1 / 1;

    @media (min-width: $min-tablet) {
      grid-column: initial;
      grid-row: initial;
    }
  }
}
