.pagination {
  display: flex;
}

.pagination__item {
  background-color: $base-white;

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  @media (max-width: $max-mobile) {
    span {
      @include visually-hidden();
    }
  }
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: $base-primary;

  &--current {
    font-weight: $font-semi;
    color: $base-black;
  }

  @media (min-width: $min-tablet) {
    &--scroll {
      width: auto;
      height: auto;
      padding: 8px 20px;
    }
  }
}

.pagination__button {
  width: 10px;
  height: 10px;

  &--reverse {
    transform: rotate(180deg);
  }

  @media (min-width: $min-tablet) {
    display: none;
  }
}
