.pagination {
  display: flex;
}

.pagination__item {
  &:not(:last-of-type) {
    margin-right: 20px;
  }

  @media (max-width: $max-mobile) {
    span {
      @include visually-hidden();
    }
  }
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: $base-primary;
  background-color: $base-white;

  &--current {
    font-weight: $font-semi;
    color: $base-black;
    background-color: transparent;
    cursor: none;
    pointer-events: none;
  }

  &--scroll_hide {
    cursor: none;
    pointer-events: none;
  }

  @media (min-width: $min-tablet) {
    &--scroll {
      width: auto;
      height: auto;
      padding: 8px 20px;
    }

    &--scroll_hide {
      opacity: 0;
      cursor: none;
      pointer-events: none;
    }
  }

  &:hover {
    color: $base-white;
    background-color: $alt-primary-lighter;
  }

  &:active {
    color: $base-white;
    background-color: $alt-primary-darker;
  }

  &:hover .pagination__button {
    fill: $base-white;
  }

  &:active .pagination__button {
    fill: $base-white;
  }

  &--disabled {
    color: $base-white;
    background-color: $alt-light-grey;
    cursor: none;
    pointer-events: none;
  }
}

.pagination__button {
  width: 10px;
  height: 10px;

  &--reverse {
    transform: rotate(180deg);
  }

  @media (min-width: $min-tablet) {
    display: none;
  }
}
