.range {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (min-width: $min-tablet) {
    width: 223px;
  }

  @media (min-width: $min-desktop) {
    width: auto;
  }
}

.range__slider {
  position: relative;
  width: 100%;
  height: 2px;
  margin-bottom: 35px;
  background-color: $alt-light-grey;
}

.range__bar {
  position: absolute;
  height: 2px;
  background-color: $alt-primary-lighter;
}

.range__pin {
  position: absolute;
  top: -9px;
  width: 18px;
  height: 18px;
  background-color: $base-white;
  border: 2px solid $alt-primary-lighter;
  border-radius: 50%;
  cursor: pointer;

  &--min {
    left: -1px;
  }

  &--max {
    right: -9px;
  }

  &:hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: linear-gradient(to bottom, $alt-primary-opacity 50%, $alt-primary-opacity 50%);
    outline: 1px solid $base-white;
    outline-offset: -3px;
  }

  &:active {
    background-color: $base-primary;
    outline: 1px solid $base-white;
    outline-offset: -3px;
  }

  &:focus:not(:active) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: linear-gradient(to bottom, $alt-primary-opacity 50%, $alt-primary-opacity 50%);
    outline: 1px solid $base-white;
    outline-offset: -3px;
  }
}

.range__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range__label {
  position: relative;
  display: flex;
}

.range__input {
  width: 118px;
  padding: 6px 10px;
  font: inherit;
  font-weight: $font-medium;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: 2px solid $alt-primary-lighter;
  appearance: textfield;

  &::placeholder {
    color: $base-gray;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  @media (min-width: $min-tablet) {
    width: 67px;
  }

  @media (min-width: $min-desktop) {
    width: 114px;
  }

  &:focus {
    border-color: $alt-primary-darker;
    outline: none;
  }

  &:disabled {
    background-color: $bg-lightest-grey;
    border-color: $alt-light-grey;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.range__devider {
  display: block;
  width: 8px;
  height: 2px;
  background-color: $base-gray;
}
