.socials {
  display: flex;
  list-style-type: none;
}

.socials__item {
  padding: 20px;

  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

.socials__link {
  width: 20px;
  height: 20px;

  svg {
    width: 100%;
    height: auto;
    object-fit: cover;
    color: $base-gray;
  }
}
