.socials {
  display: flex;
  list-style-type: none;
}

.socials__item {
  display: flex;
  padding: 10px;

  &--pinterest {
    padding: 8px 9px;
  }

  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

.socials__link {
  display: flex;
  width: 20px;
  height: 20px;

  &--pinterest {
    width: 22px;
    height: 22px;
  }

  svg {
    color: $base-gray;
  }
}
